spring:
  application:
    name: porest
  messages:
    basename: message/messages
    encoding: utf-8

  # DB 연결 드라이버 설정
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    p6spy:
      # JDBC 이벤트 로깅을 위한 P6LogFactory 등록
      enable-logging: true

      # com.p6spy.engine.spy.appender.MultiLineFormat 사용 (SingleLineFormat 대신)
      multiline: true

      # 기본 리스너들을 위한 로깅 사용 [slf4j, sysout, file, custom]
      logging: slf4j

      # 실제 값으로 '?'를 대체한 효과적인 SQL 문자열을 추적 시스템에 보고
      # 참고: 이 설정은 로깅 메시지에 영향을 주지 않음
      tracing:
        include-parameter-values: true

  # JPA 설정
  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:none}
    properties:
      hibernate:
        default_batch_fetch_size: 100

server:
  servlet:
    session:
      timeout: 8h
  port: ${SERVER_PORT:8000}

# LOG 설정
logging:
  level:
    com.lshdainty.porest.api: ${LOG_LEVEL:info}
    com.lshdainty.porest.repository: ${LOG_LEVEL:info}
    com.lshdainty.porest.service: ${LOG_LEVEL:info}
    com.lshdainty.porest.domain: ${LOG_LEVEL:info}
    p6spy: info

# 파일 업로드 경로 설정
file:
  root-path: ${FILE_ROOT_PATH:/app/files}
  web-url-prefix: /media
  resource-handler: ${file.web-url-prefix}/**
  resource-locations: file:${file.root-path}/
  temp:
    path:
      profile: ${file.root-path}/temp/profile
  origin:
    path:
      profile: ${file.root-path}/origin/profile

# 어플리케이션 정보
app:
  frontend:
    base-url: ${FRONTEND_BASE_URL:http://localhost:3000}
  company:
    name: ${COMPANY_NAME:porest}
  email:
    logo:
      path: ${EMAIL_LOGO_PATH:templates/email/logo.png}

# Swagger 설정
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: alpha
    tags-sorter: alpha
    display-request-duration: true
    doc-expansion: none
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  enable-querydsl: false

# 보안 설정
security:
  ip-blacklist:
    enabled: true  # IP 블랙리스트 기능 활성화 여부
    log-level: WARN  # 차단 로그 레벨 (WARN 또는 ERROR)
    file-path: ${IP_BLACKLIST_FILE_PATH:config/ip-blacklist.txt}  # IP 블랙리스트 파일 경로