spring:
  application:
    name: myhr
  messages:
    basename: message/messages
    encoding: utf-8

  datasource:
    url: jdbc:h2:tcp://localhost/~/study/h2/myhr
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        default_batch_fetch_size: 100

  sleuth:
    jdbc:
      p6spy:
        tracing:
          include-parameter-values: true

server:
  servlet:
    session:
      timeout: 8h

logging:
  level:
    com.lshdainty.myhr.api: debug
    com.lshdainty.myhr.repository: debug
    com.lshdainty.myhr.service: debug
    com.lshdainty.myhr.domain: debug
    p6spy: info

decorator:
  datasource:
    p6spy:
      enable-logging: true
      multiline: true

jwt:
  secret: testkeyakljsdfashaweflkamsdflkjsahdfjklhasldjufrhawlekjflsdjhglmdnfljksdfjkasdhfljasdhfulawefmdsljkbdjkflkas

file:
  temp:
    path:
      profile: /Users/lshdainty/study/testimg/temp/profile
  origin:
    path:
      profile: /Users/lshdainty/study/testimg/origin/profile