spring:
  application:
    name: porest
  messages:
    basename: message/messages
    encoding: utf-8

  datasource:
    url: jdbc:h2:tcp://localhost/~/study/h2/myhr
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        default_batch_fetch_size: 100

  sleuth:
    jdbc:
      p6spy:
        tracing:
          include-parameter-values: true

server:
  servlet:
    session:
      timeout: 8h

logging:
  level:
    com.lshdainty.porest.api: debug
    com.lshdainty.porest.repository: debug
    com.lshdainty.porest.service: debug
    com.lshdainty.porest.domain: debug
    p6spy: info

decorator:
  datasource:
    p6spy:
      enable-logging: true
      multiline: true

jwt:
  secret: testkeyakljsdfashaweflkamsdflkjsahdfjklhasldjufrhawlekjflsdjhglmdnfljksdfjkasdhfljasdhfulawefmdsljkbdjkflkas

file:
  root-path: /Users/lshdainty/study/testimg
  web-url-prefix: /media
  resource-handler: ${file.web-url-prefix}/**
  resource-locations: file:${file.root-path}/
  temp:
    path:
      profile: ${file.root-path}/temp/profile
  origin:
    path:
      profile: ${file.root-path}/origin/profile
