spring:
  application:
    name: porest
  messages:
    basename: message/messages
    encoding: utf-8

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:tcp://localhost/~/study/h2/myhr
    username: sa
    password:
    p6spy:
      # JDBC 이벤트 로깅을 위한 P6LogFactory 등록
      enable-logging: true

      # com.p6spy.engine.spy.appender.MultiLineFormat 사용 (SingleLineFormat 대신)
      multiline: true

      # 기본 리스너들을 위한 로깅 사용 [slf4j, sysout, file, custom]
      logging: slf4j

      # 실제 값으로 '?'를 대체한 효과적인 SQL 문자열을 추적 시스템에 보고
      # 참고: 이 설정은 로깅 메시지에 영향을 주지 않음
      tracing:
        include-parameter-values: true

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:none}
    properties:
      hibernate:
        default_batch_fetch_size: 100

server:
  servlet:
    session:
      timeout: 8h
  port: ${SERVER_PORT:8000}

logging:
  level:
    com.lshdainty.porest.api: ${LOG_LEVEL:info}
    com.lshdainty.porest.repository: ${LOG_LEVEL:info}
    com.lshdainty.porest.service: ${LOG_LEVEL:info}
    com.lshdainty.porest.domain: ${LOG_LEVEL:info}
    p6spy: info

file:
  root-path: ${FILE_ROOT_PATH:/app/files}
  web-url-prefix: /media
  resource-handler: ${file.web-url-prefix}/**
  resource-locations: file:${file.root-path}/
  temp:
    path:
      profile: ${file.root-path}/temp/profile
  origin:
    path:
      profile: ${file.root-path}/origin/profile

app:
  frontend:
    base-url: ${FRONTEND_BASE_URL:http://localhost:3000}
  company:
    name: ${COMPANY_NAME:porest}
  email:
    logo:
      path: ${EMAIL_LOGO_PATH:templates/email/logo.png}